.page-title {
    color: $white;
    font-size: 44px;
    text-align: left;
    line-height: 44px;
    font-family: $main-font;
    margin: 0 0 15px;

    span {
        text-transform: uppercase;
        color: $red;
        font-size: 14px;
        margin-bottom: 15px;
        font-weight: 300;
        display: block;
    }
}

.section-title {
    color: $silver  ;
    font-family: $main-font;
    text-align: left;
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 15px;

    &__white {
        color: $white;
    }

    &__centered {
        text-align: center;
    }

    span {
        text-transform: uppercase;
        color: $red;
        font-size: 14px;
        margin-bottom: 15px;
        font-weight: 300;
        display: block;
    }
}