.site-footer {
    padding: 120px 0;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #26282d, #08090a);

    .contact {
        .container {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            position: relative;
        }

        &__left,
        &__right {
            max-width: 50%;
            width: 100%;
        }

        &__left {
            z-index: 30;
            position: relative;

            .section-title {
                font-size: 49px;
                line-height: 59px;
            }
        }
    
        &__right {
            z-index: 10;
            position: relative;
            max-width: 455px;
        }
    }

    .contact-form {
        background-color: $green;
        display: flex;
        flex-direction: column;
        padding: 26px 31px;
        position: relative;

        &__wrapper {
            position: relative;
            padding: 15px 15px 0;
            margin: 9px 0;

            .form-label {
                position: absolute;
                left: 28px;
                top: 35px;
                font-size: 12px;
                font-family: $second-font;
                transition: $dur $ease;
                pointer-events: none;
                text-transform: uppercase;
                letter-spacing: 2px;
                padding: 2px 4px;

                &__active {
                    top: 8px;
                    color: $white;
                    background-color: $green;
                    font-size: 11px;
                }

                span {
                    color: $red;
                }
            }
        }

        input {
            border: 1px solid $white;
            border-radius: 3px;
            background-color: rgba($white, 0.5);
            height: 58px;
            box-sizing: border-box;
            width: 100%;
            padding: 0 15px;

            &::placeholder {
                color: transparent;
            }

            &:focus + .form-label {
                top: 8px;
                color: $white;
                background-color: $green;
                font-size: 11px;
            }
        }

        textarea {
            resize: none;
            border: 1px solid $white;
            border-radius: 3px;
            background-color: rgba($white, 0.5);
            height: 148px;
            box-sizing: border-box;
            width: 100%;
            padding: 19px 15px;

            &::placeholder {
                color: transparent;
            }

            &:focus + .form-label {
                top: 8px;
                color: $white;
                background-color: $green;
            }
        }

        .error-message {
            position: absolute;
            top: calc(100% + 2px);
            font-size: 12px;
            color: $red;
            font-family: $main-font;
            left: 15px;
            width: 100%;
            transition: $dur $ease;
            opacity: 0;
            visibility: hidden;

            &__active {
                opacity: 1;
                visibility: visible;
                transition: $dur $ease;
            }
        }

        .btn-main__transparent {
            margin-top: 10px;
        }

        .contact-form__popup {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            opacity: 0;
            visibility: hidden;
            transition: $dur $ease;
            background-color: $green;
            display: flex;
            align-items: center;
            justify-content: center;

            &.success {
                opacity: 1;
                visibility: visible;
                height: 100%;
                transition: $dur $ease;
            }

            p {
                color: $white;
                font-size: 16px;
                font-family: $second-font;
                text-align: center;
                font-weight: 500;
            }
        }
    }

    .site-footer__img {
        position: absolute;
        left: -324px;
        bottom: -75px;
        z-index: 20;
    }

    &__bottom {
        position: absolute;
        bottom: 30px;
        left: 0;
        width: 100%;
        z-index: 50;

        &-left {
            font-family: $second-font;
            font-size: 14px;
            color: $silver-light;
            text-transform: uppercase;
        }

        &-right {
            ul {   
                display: flex;

                li {
                    margin-left: 15px;
                    text-transform: uppercase;
                    font-size: 14px;

                    a {
                        color: $silver-light;
                        font-family: $second-font;
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -5px;
                            left: 50%;
                            right: 50%;
                            width: 0;
                            height: 1px;
                            background-color: $red;
                            transition: $dur $ease;
                        }

                        &:hover {
                            &::after {
                                width: 100%;
                                left: 0;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}