.site-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 40px 0;
    transition: $dur $ease;
    background-color: transparent;
    z-index: 100;

    &__sticky {
        transition: $dur $ease;
        padding: 25px 0;
        background-color: $black;
    }

    &__left {
        max-width: 97px;
        width: 100%;
        padding-left: 38px;
        display: flex;
        align-items: center;

        img {
            width: 100%;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        padding-right: 40px;

        .btn-main {
            margin-left: 35px;
        }
    }

    .hamburger {
        display: none;
    }
}